<%= form_with(model: quote, local: true) do |form| %>
<% if quote.errors.any? %>
<div id="error_explanation">
<h2><%= pluralize(quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

<ul>
<% quote.errors.full_messages.each do |message| %>
  <li><%= message %></li>
<% end %>
</ul>
</div>
<% end %>



<form method="post" enctype="multipart/form-data">
  <fieldset>
    <input type="hidden" name="action" value="contact_send" />
      <div class="row">
        <div class="col-md-3" >
        <%= form.label :Department %>
        <%= form.select :Department, [['-', '-'], ['Residential','Residential'], ['Commercial','Commercial'], ['Corporate','Corporate'], ['Hybrid','Hybrid']]%>
      </div>
  </div>


  <div class="row-0">
    <form>
      <div class="col-md-4">
        <%= form.label :full_name %>
        <%= form.text_field :full_name %>
      </div>
      <div class="col-md-4">
        <%= form.label :company_name %>
        <%= form.text_field :company_name %>
      </div>
      <div class="col-md-4">
        <%= form.label :email %>
        <%= form.text_field :email %>
      </div>
      <div class="col-md-4">
        <%= form.label :phone_number %>
        <%= form.text_field :phone_number %>
      </div>
    </form>	
  </div>


  <div class="row-1">									
    <div class="col-md-4">
      <%= form.label :number_of_apartments %>
      <%= form.text_field :number_of_apartments %>
      </div>
    <div class="col-md-4">
      <%= form.label :number_of_floors %>
      <%= form.text_field :number_of_floors %>
    </div>
    <div class="col-md-4">
      <%= form.label :number_of_basements %>
      <%= form.text_field :number_of_basements %>
    </div>

    
    
  <div class="row-2">									
    <div class="col-md-4">
      <%= form.label :number_of_elevators %>
      <%= form.text_field :number_of_elevators %>
    </div>
    <div class="col-md-4">
      <%= form.label :number_of_apartments %>
      <%= form.text_field :number_of_apartments %>
    </div>
    <div class="col-md-4">
      <%= form.label :number_of_parking %>
      <%= form.text_field :number_of_parking %>
    </div>
    <div class="col-md-4">
      <%= form.label :number_of_basements %>
      <%= form.text_field :number_of_basements %>
    </div>
    <div class="col-md-4">
      <%= form.label :number_of_stores %>
      <%= form.text_field :number_of_stores %>
    </div>
  </div>


  <div class="row-3">									
    <div class="col-md-4">
      <%= form.label :number_of_floors %>
      <%= form.text_field :number_of_floors %>
    </div>
    <div class="col-md-4">
      <%= form.label :number_of_basements %>
      <%= form.text_field :number_of_basements %>
    </div>
    <div class="col-md-4">
      <%= form.label :max_occupancy_per_floor %>
      <%= form.text_field :max_occupancy_per_floor %>
    </div>
    <div class="col-md-4">
      <%= form.label :number_of_stores %>
      <%= form.text_field :number_of_stores %>
    </div>
    <div class="col-md-4">
      <%= form.label :number_of_parking %>
      <%= form.text_field :number_of_parking %>
    </div>
  </div>

  <div class="row-4">									
    <div class="col-md-4">
      <%= form.label :number_of_floors %>
      <%= form.text_field :number_of_floors %>
    </div>
    <div class="col-md-4">
      <%= form.label :number_of_basements %>
      <%= form.text_field :number_of_basements %>
    </div>
    <div class="col-md-4">
      <%= form.label :max_occupancy_per_floor %>
      <%= form.text_field :max_occupancy_per_floor %>
    </div>
    <div class="col-md-4">
    <%= form.label :number_of_parking %>
    <%= form.text_field :number_of_parking %>
  </div>
    <div class="col-md-4">
      <%= form.label :number_of_stores %>
      <%= form.text_field :number_of_stores %>
    </div>
    <div class="col-md-4">
      <%= form.label :hours_of_activity %>
      <%= form.text_field :hours_of_activity %>
    </div>
  </div>

<div class="field">
<%= form.label :installation_cost %>
<%= form.text_field :installation_cost %>
</div>

<div class="field">
<%= form.label :total_cost %>
<%= form.text_field :total_cost %>
</div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


<!-- TOTAL / PLACE ORDER -->
  <div class="toggle-transparent toggle-bordered-full clearfix">
      <div class="toggle active">
          <div class="toggle-content-1" style="display: block;">
              
              <span class="clearfix">
                  <strong class="float-left">Total elevators:</strong>
                  <span id="float-right-1"></span>
              </span>

              <hr>

              <span class="clearfix">
                  <span id="float-right-2"></span>
                  <strong class="float-left">Standard price unit:</strong><br>
                  <span>Installation fee:</span>
                  <span id="fees"></span>
              </span>

              <hr>
              <span class="clearfix">
                      <span id="float-right-3"></span>
<strong class="float-left">Approximate price:</strong>
<span id="float-right-3"></span>
              </span>
              <hr>

              <a class="btn btn-primary btn-lg btn-block fs-15" href=genesis.html #contact><i class="fa fa-mail-forward"></i> Contact Us Now</a>
          </div>
      </div>
  </div>

                                <!-- /TOTAL / PLACE ORDER -->

<!-- FOOTER -->
			<footer id="footer">
				<div class="container">


					<div class="row">

						<!-- col #1 -->
						<div class="col-md-8">

							<h3 class="letter-spacing-1">WHY ROCKET ELEVATORS ?</h3>

							<!-- Small Description -->
							<p>
								We are number one in construction of elevator in North America and second in Europe. We have the most efficient workers and our values are the customer service, 
								fidelity and respect. Contact us and we guarantee that you will completely satisfy. 
							</p>
							<h2>1-800-555-1234</h2>
						</div>
						<!-- /col #1 -->

						<!-- col #2 -->
						<div class="col-md-4">
							<h3 class="letter-spacing-1">KEEP IN TOUCH</h3>

							<!-- Newsletter Form -->
							<p>Subscribe to Our Newsletter to get Important News from Rocket Elevators ! </p>

							<form class="validate" action="php/newsletter.php" method="post" data-success="Subscribed! Thank you!" data-toastr-position="bottom-right">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
									<input type="email" id="email" name="email" class="form-control required" placeholder="Enter your Email">
									<span class="input-group-btn">
										<button class="btn btn-primary" type="submit">Subscribe</button>
									</span>
								</div>
							</form>
							<!-- /Newsletter Form -->


						</div>
						<!-- /col #2 -->

					</div>

				</div>

				<div class="copyright">
					<div class="container">
						&copy; All Rights Reserved, Rocket Elevators
					</div>
				</div>

			</footer>
			<!-- /FOOTER -->

