<html lang="en">
	<head>
		<meta charset="utf-8" />

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

		<title>Form - Rocket Evelators</title>
		<meta name="description" content="" />
		<meta name="Author" content="Dorin Grigoras [www.stepofweb.com]" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
		<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

		<!-- WEB FONTS : use %7C instead of | (pipe) -->
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"type="text/css" />

		<!-- CORE CSS -->


		<!-- REVOLUTION SLIDER -->


		<!-- THEME CSS -->



		<!-- PAGE LEVEL SCRIPTS -->


	</head>



<div id="header" class="navbar-toggleable-md sticky header-md clearfix">

				<!-- TOP NAV -->
				<header id="topNav">
					<div class="container">

						<!-- Mobile Menu Button -->
						<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
							<i class="fa fa-bars"></i>
						</button>

						<!-- Logo -->

						<a class="logo float-left scrollTo" href="#top">
							<img src="assets/R2.png" alt="" />
						</a>

						<!-- 
							Top Nav 
							
							AVAILABLE CLASSES:
							submenu-dark = dark sub menu
						-->
						<div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
							<nav class="nav-main">

								<!-- 
									.nav-onepage
									Required for onepage navigation links
									
									Add .external for an external link!
								-->
								<ul id="topMain" class="nav nav-pills nav-main nav-onepage">
									<li class="active"><!-- HOME -->
										<a href="genesis.html">
											HOME
										</a>
									</li>
									<li><!-- SERVICES -->
										<a class="dropdown-toogle">
											SERVICES

										</a>
										<ul class="dropdown-menu">
											<li>
												<a href="index-onepage-parallax.html">Residential</a>
											</li>
											<li>
												<a href="index-onepage-parallax-commercial.html">Commercial</a>
											</li>
										</ul>
										
									</li>
									<li><!-- WORK -->
										<a href="genesis.html#work">
											PORTFOLIO
										</a>
									</li>
									<li><!-- NEWS -->
										<a href="genesis.html#news">
											NEWS
										</a>
									</li>
									<li><!-- OVERVIEW -->
										<a href="genesis.html#contact">
											CONTACT
										</a>
									</li>
									<li><!-- CLIENTS -->
										<a href="genesis.html#clients">
											CLIENTS
										</a>
									</li>
								</ul>

							</nav>
						</div>

					</div>
				</header>
				<!-- /Top Nav -->

			</div>

      <!-- CONTACT -->
			<section id="contact">
				<div class="container">

					<header class="text-center mb-60-1">
						<h2>Quote</h2>
						<p class="lead font-lato">Get a free quote now.</p>
						<hr />
					</header>


					<div class="row">

						<!-- FORM -->
						<div class="col-md-8 col-sm-8">

							<h3>Enter your informations </h3>

<%= form_with(model: quote, local: true) do |form| %>
<% if quote.errors.any? %>
<div id="error_explanation">
<h2><%= pluralize(quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

<ul>
<% quote.errors.full_messages.each do |message| %>
  <li><%= message %></li>
<% end %>
</ul>
</div>
<% end %>



<form method="post" enctype="multipart/form-data">
  <fieldset>
    <input type="hidden" name="action" value="contact_send" />
      <div class="row">
        <div class="col-md-3">
        <%= form.label :Department %>
        <%= form.select :Department, [['Residential','Residential'], ['Commercial','Commercial'], ['Corporate','Corporate'], ['Hybrid','Hybrid']] %>
      </div>
  </div>


  <div class="row-1">
    <form>
      <div class="col-md-4">
        <%= form.label :full_name %>
        <%= form.text_field :full_name %>
      </div>
      <div class="col-md-4">
        <%= form.label :company_name %>
        <%= form.text_field :company_name %>
      </div>
      <div class="col-md-4">
        <%= form.label :email %>
        <%= form.text_field :email %>
      </div>
      <div class="col-md-4">
        <%= form.label :phone_number %>
        <%= form.text_field :phone_number %>
      </div>
    </form>	
  </div>


<div class="field">
<%= form.label :number_of_floors %>
<%= form.text_field :number_of_floors %>
</div>

<div class="field">
<%= form.label :number_of_basements %>
<%= form.text_field :number_of_basements %>
</div>

<div class="field">
<%= form.label :number_of_parking %>
<%= form.text_field :number_of_parking %>
</div>

<div class="field">
<%= form.label :number_of_stores %>
<%= form.text_field :number_of_stores %>
</div>

<div class="field">
<%= form.label :max_occupancy_per_floor %>
<%= form.text_field :max_occupancy_per_floor %>
</div>

<div class="field">
<%= form.label :hours_of_activity %>
<%= form.text_field :hours_of_activity %>
</div>

<div class="field">
<%= form.label :number_of_elevators %>
<%= form.text_field :number_of_elevators %>
</div>

<div class="field">
<%= form.label :installation_cost %>
<%= form.text_field :installation_cost %>
</div>

<div class="field">
<%= form.label :total_cost %>
<%= form.text_field :total_cost %>
</div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>




<!-- FOOTER -->
			<footer id="footer">
				<div class="container">


					<div class="row">

						<!-- col #1 -->
						<div class="col-md-8">

							<h3 class="letter-spacing-1">WHY ROCKET ELEVATORS ?</h3>

							<!-- Small Description -->
							<p>
								We are number one in construction of elevator in North America and second in Europe. We have the most efficient workers and our values are the customer service, 
								fidelity and respect. Contact us and we guarantee that you will completely satisfy. 
							</p>
							<h2>1-800-555-1234</h2>
						</div>
						<!-- /col #1 -->

						<!-- col #2 -->
						<div class="col-md-4">
							<h3 class="letter-spacing-1">KEEP IN TOUCH</h3>

							<!-- Newsletter Form -->
							<p>Subscribe to Our Newsletter to get Important News from Rocket Elevators ! </p>

							<form class="validate" action="php/newsletter.php" method="post" data-success="Subscribed! Thank you!" data-toastr-position="bottom-right">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
									<input type="email" id="email" name="email" class="form-control required" placeholder="Enter your Email">
									<span class="input-group-btn">
										<button class="btn btn-primary" type="submit">Subscribe</button>
									</span>
								</div>
							</form>
							<!-- /Newsletter Form -->


						</div>
						<!-- /col #2 -->

					</div>

				</div>

				<div class="copyright">
					<div class="container">
						&copy; All Rights Reserved, Rocket Elevators
					</div>
				</div>

			</footer>
			<!-- /FOOTER -->

<%=javascript_include_tag "contact" %>