<!DOCTYPE html>
<html>
  <head>
    <title>RocketElevators</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <script>var plugin_path = 'assets/plugins/';</script>
  
    <% if flash[:error].present? %>
    <p class='flash-error'><%= flash[:error] %></p>
    <% end %>
    <% if flash[:notice].present? %>
    <p class='flash-notice'><%= flash[:notice] %></p>
    <% end %>

    </body>

</html>
